.reciepts-container {
    display: flex;
    flex-wrap: wrap; /* Перенос карточек на новую строку */
    justify-content: space-around; /* Распределение карточек с отступами */
    padding: 10px; /* Внешний отступ */
  }
  
  .card-wrapper {
    flex-basis: calc(50% - 20px); /* Одна карточка занимает половину ширины с отступами */
    margin: 10px; /* Отступ между карточками */
  }

  img {
    width: 100%; /* Ширина изображения заполняет контейнер */
    height: 200px; /* Устанавливаем фиксированную высоту */
    object-fit: cover; /* Сохраняем пропорции изображения и обрезаем по размеру */
    border-radius: 8px; /* Края изображения немного закруглены (по желанию) */
  }
  .dropdown-button {
    margin: 20px; /* или любое другое значение отступа */
  }
  .heart-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    padding: 10px;
  }
  
  .heart {
    color: white;
    font-size: 50px;
    position: relative;
  }
  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* расстояние сверху, по желанию */
  }
